<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<meta name="keywords" content="dZz个人在线网站, 分享, 博客, 技术探讨">
<meta name="description" content="dZz个人在线网站, 利用bootstrap, jquery, vue, less等技术栈 搭建的混合网站, 比较杂乱">
<link rel="dns-prefetch" href="https://cdn.bootcss.com">
<link rel="stylesheet"   href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1447358_06466q25fe24.css">
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

