<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title%></title>
  <meta name="keywords" content="dZz个人在线网站, 分享, 博客, 技术探讨">
  <meta name="description" content="dZz个人在线网站, 利用bootstrap, jquery, vue, less等技术栈 搭建的混合网站, 比较杂乱">
  <script src="//at.alicdn.com/t/font_1447358_n0kqiey37fm.js"></script>
  <style type="text/css">
    .icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
  </style>
</head>

<body>
  <div id="app">

  </div>
</body>

</html>