<!DOCTYPE html>
<html lang="cn-Zh">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title%></title>

  <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> -->
</head>

<body>

  <div class="container">
    <div class="log-form border rounded">
      <form class="form">
        <div class="login-img-box">
          <img src="<%= require('@assets/images/logos/login.png')%>" alt="注册logo" class="login-img">
        </div>
        <div class="alert alert-danger"></div>
        <div class="form-group form-group-item username">
          <i class="iconfont icon-login_zhanghu"></i>
          <input type="text" name="username" id="username" class="un form-control" autocomplete="off" placeholder="0"
            maxlength="16" minlength="6">
          <label for="username" class="placeholder">username</label>
          <i class="tip username-tip">123</i>
          <img src="<%= require('@assets/images/user/greeting.png')%>" alt="">
        </div>

        <div class="form-group form-group-item password">
          <i class="iconfont icon-mimalan"></i>
          <input type="password" name="password" id="password" class="pwd form-control" placeholder="0" maxlength="16"
            minlength="6">
          <label for="password" class="placeholder">password</label>
          <i class="tip password-tips">你输入的密码有误</i>
          <img src="<%= require('@assets/images/user/blindfold.png')%>" alt="">
        </div>

        <div class="form-group form-group-func">
          <input type="button" value="登 录" class="sb btn btn-primary" id="login">
          <a href="/register" class="register">注册&nbsp;&nbsp;</a>
          <span>|</span>
          <a href="/forget" class="forget">&nbsp;&nbsp;忘记密码?</a>
        </div>
        <img src="<%= require('@assets/images/user/normal.png')%>" alt="" class="normal">
      </form>
      <div class="curtain">
        <div class="box">
          <i class="iconfont icon-loading"></i><br />
          <strong class="toTarget">
            <a href="javascript:void(0)">正在登陆</a>
          </strong>
        </div>
      </div>
    </div>
  </div>
</body>

</html>